@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleAuth Admin</title>
    <base href="/admin/" />
    <link rel="stylesheet" href="_content/BlazorBlueprint.Components/css/blueprint.min.css" />
    <link rel="stylesheet" href="_content/SimpleAuth.Admin/css/admin.css" />
    <HeadOutlet @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
</head>
<body class="min-h-screen bg-background text-foreground">
    <Routes @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
